.App{
  background-color: #030E4F;
  width: 100%;
  height: 650px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container{
  background-color: #F49F1C;
  width:450px;
  padding: 50px;
  border-radius: 30px;
}

.header{
  text-align: center;
}
.t{
  text-align: center;
}

.input{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 10px;
}

.button{
  display: flex;
  justify-content: space-around;

}

.t h3{
  color: #241f1c;
}